## Project 2 -- [Drew] [Caldwell]

**TA Help:** NA
    
**Collaboration:** NA

## Question 1

Load the dataset

In [1]:
myDF <- read.csv("/anvil/projects/tdm/data/olympics/athlete_events.csv")

table(myDF$Year)

 1896  1900  1904  1906  1908  1912  1920  1924  1928  1932  1936  1948  1952
  380  1936  1301  1733  3101  4040  4292  5693  5574  3321  7401  7480  9358
 1956  1960  1964  1968  1972  1976  1980  1984  1988  1992  1994  1996  1998
 6434  9235  9480 10479 11959 10502  8937 11588 14676 16413  3160 13780  3605
 2000  2002  2004  2006  2008  2010  2012  2014  2016
13821  4109 13443  4382 13602  4402 12920  4891 13688

It does make sense the gradual growth in number of athletes over the years. There's a big change during world war II but not as noticeable in WWI. You see the 2 year rotation begin because the smaller of the two is the winter olympics.

## Question 2

In [2]:
tail(sort(table(myDF$NOC)))

  CAN   GER   ITA   GBR   FRA   USA
 9733  9830 10715 12256 12758 18853

The USA appears the most in the NOC column

In [3]:
tail(sort(table(myDF$Name)))

Jean Lucien Nicolas Jacoby                Takashi Ono
                        32                         33
       Ioannis Theofilakis      Joseph "Josy" Stoffel
                        36                         38
  Heikki Ilmari Savolainen       Robert Tait McKenzie
                        39                         58

Robert Tait McKenzie appears the most in the Name column

## Question 3

Now we will find the number of cells that contain exactly Denmark

In [14]:
table(myDF$Team)["Denmark"]

Denmark
   3424

Here we will find the number of cells that contain Denmark somewhere in the Team name

In [11]:
sum(grepl("Denmark", myDF$Team))

[1] 3496

Here is another way to do what we did above

In [13]:
length(grep("Denmark", myDF$Team))

[1] 3496

Markdown notes and sentences and analysis written here.

Finally here is the number of tables that contain Denmark but are not exactly Denmark

In [16]:
length(grep("Denmark", myDF$Team)) - table(myDF$Team)["Denmark"]

Denmark
     72

## Question 4

We are going to now load a new data source

In [17]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")

In [19]:
tail(sort(table(myDF$STATE)))

         FL    IL    NY    TX    CA
12654 15576 15895 25669 34862 37069

Here we can see that California has the most appearances in the state column

In [20]:
tail(sort(table(myDF$NAME)))

                            LUCAS, HARRY JR
                                         46
                              WILLIAMS, J D
                                         64
  DEMOCRATIC CONGRESSIONAL DINNER COMMITTEE
                                         65
                               REPP, WARD W
                                         89
 AMERICAN DENTAL POLITICAL ACTION COMMITTEE
                                         96
AMERICAN MEDICAL POLITICAL ACTION COMMITTEE
                                        769

Now we see that the AMERICAN MEDICAL POLITICAL ACTION COMMITTEE appears the most within the Name Column

## Question 5

Here we want to join our 2 tables together. We will do them individually, then paste them together.

In [21]:
head(myDF$CITY)

[1] "MIDLAND" "MIDLAND" "MIDLAND" "MIDLAND" "CHICAGO" "CHICAGO"

In [22]:
head(myDF$STATE)

[1] "MI" "MI" "MI" "MI" "IL" "IL"

In [23]:
paste(head(myDF$CITY), head(myDF$STATE))

[1] "MIDLAND MI" "MIDLAND MI" "MIDLAND MI" "MIDLAND MI" "CHICAGO IL"
[6] "CHICAGO IL"

There is our final paste after joining the tables together

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.