# Project X -- [First Name] [Last Name]

**TA Help:** John Smith, Alice Jones

- Help with figuring out how to write a function.
    
**Collaboration:** Friend1, Friend2
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [1]:
# Load necessary libraries
library(data.table)

# Set options to show a maximum of 50 columns
options(repr.matrix.max.cols=50)

# Read the first 1000 rows of the data
file_path <- "/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv"
liquor_data <- fread(file_path, nrows=1000)

# Display the column names
colnames(liquor_data)

 [1] "Invoice/Item Number"   "Date"                  "Store Number"
 [4] "Store Name"            "Address"               "City"
 [7] "Zip Code"              "Store Location"        "County Number"
[10] "County"                "Category"              "Category Name"
[13] "Vendor Number"         "Vendor Name"           "Item Number"
[16] "Item Description"      "Pack"                  "Bottle Volume (ml)"
[19] "State Bottle Cost"     "State Bottle Retail"   "Bottles Sold"
[22] "Sale (Dollars)"        "Volume Sold (Liters)"  "Volume Sold (Gallons)"

After running this code, look at the column names to identify the ones that correspond to Store Number, Store Name, Address, City, and Zip Code. These will likely be labeled in a recognizable format (e.g., Store Number, Store Name, Address, City, Zip Code).

In [2]:
# Read only the relevant columns from the entire dataset
liquor_data_selected <- fread(file_path, select = c("Store Number", "Store Name", "Address", "City", "Zip Code"))

# Check the dimension of the dataset
dim(liquor_data_selected)

[1] 27050143        5

## Question 2

In [3]:
# Table of "Store Number" to find the most frequent values
store_number_table <- table(liquor_data_selected$`Store Number`)
head(sort(store_number_table, decreasing = TRUE), 10)

  2633   4829   2190   2512   2572   2603   2515   2614   2647   2648
223447 190702 173109 147581 142536 140319 133959 132915 132269 128608

In [4]:
# Table of "Store Name" to find the most frequent values
store_name_table <- table(liquor_data_selected$`Store Name`)
head(sort(store_name_table, decreasing = TRUE), 10)

        HY-VEE #3 / BDI / DES MOINES                       CENTRAL CITY 2
                              223447                               190653
           CENTRAL CITY LIQUOR, INC.      HY-VEE FOOD STORE / CEDAR FALLS
                              173158                               142536
 HY-VEE WINE AND SPIRITS / IOWA CITY HY-VEE WINE AND SPIRITS / BETTENDORF
                              141557                               140319
            HY-VEE #7 / CEDAR RAPIDS                      HY-VEE #4 / WDM
                              131294                               128608
   HY-VEE FOOD STORE #1 / MASON CITY                    BENZ DISTRIBUTING
                              127264                               120357

In [5]:
# Create a new column by concatenating "Address", "City", and "Zip Code"
address_city_zip <- paste(liquor_data_selected$`Address`, liquor_data_selected$`City`, liquor_data_selected$`Zip Code`)
address_city_zip_table <- table(address_city_zip)
head(sort(address_city_zip_table, decreasing = TRUE), 10)

address_city_zip
      3221 SE 14TH ST DES MOINES 50320     1501 MICHIGAN AVE DES MOINES 50314
                                223447                                 190702
         1460 2ND AVE DES MOINES 50314     1720 WATERFRONT DR IOWA CITY 52240
                                173109                                 147581
     6301 UNIVERSITY CEDAR FALLS 50613 2890 DEVILS GLEN ROAD BETTENDORF 52722
                                142536                                 140319
       2400 4TH ST SW MASON CITY 50401     1823 E KIMBERLY RD DAVENPORT 52807
                                133959                                 132915
   5050 EDGEWOOD RD CEDAR RAPIDS 52411    555 S 51ST ST WEST DES MOINES 50265
                                132269                                 128608

d. Do your answers to parts (a) and (b) seem to agree? Do your answers to parts (a) and (c) seem to agree?

Markdown notes and sentences and analysis written here.

## Question 3

In [5]:
# Read the relevant columns only
file_path <- "/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv"
library(data.table)
liquor_data_subset <- fread(file_path, select = c("Zip Code", "Category Name", "Sale (Dollars)"))

# Check the first few rows
head(liquor_data_subset)

  Zip Code Category Name                      Sale (Dollars)
1 52404    CANADIAN WHISKIES                   40.47
2 52402    VODKA 80 PROOF                      60.12
3 52641    MISC. IMPORTED CORDIALS & LIQUEURS  55.68
4 50320    AMERICAN GRAPE BRANDIES             13.20
5 52402    WHISKEY LIQUEUR                     32.24
6 52333    IMPORTED SCHNAPPS                  198.00

In [6]:
# Sum of "Sale (Dollars)" by "Zip Code"
zip_code_sales <- tapply(liquor_data_subset$`Sale (Dollars)`, liquor_data_subset$`Zip Code`, sum)

# Sort and get the top 10 Zip Codes with the largest sales
head(sort(zip_code_sales, decreasing = TRUE), 10)

    50320     52402     52240     50266     51501     52241     50613     50311
132861227 108460935 106827909  95956449  84485599  80224356  70716357  65407917
    52722     50021
 63447651  61328202

In [7]:
# Sum of "Sale (Dollars)" by "Category Name"
category_sales <- tapply(liquor_data_subset$`Sale (Dollars)`, liquor_data_subset$`Category Name`, sum)

# Sort and get the top 10 categories with the largest sales
head(sort(category_sales, decreasing = TRUE), 10)

        CANADIAN WHISKIES           AMERICAN VODKAS STRAIGHT BOURBON WHISKIES
                457612891                 380307151                 257794862
               SPICED RUM           WHISKEY LIQUEUR           IMPORTED VODKAS
                254362805                 199736755                 183082359
       TENNESSEE WHISKIES        100% AGAVE TEQUILA          BLENDED WHISKIES
                162676709                 124223944                 109152591
        IMPORTED BRANDIES
                 88413646

Markdown notes and sentences and analysis written here.

## Question 4

In [3]:
# Read the 10th and 15th fields from the election data
library(data.table)
election_data <- fread("/anvil/projects/tdm/data/election/itcont2020.txt", select = c(10, 15))

# Check the first few rows to verify the data
head(election_data)

Warning message in fread("/anvil/projects/tdm/data/election/itcont2020.txt", select = c(10, :
"Found and resolved improper quoting out-of-sample. First healed line 543881: <<C00401224|A|M10||202012149381299609|24T|IND|YOUNG, BRUCE|SARANAC LAKE|NY|12983|"SELF" (EMPLOYER WISHES TO REMAIN ANON|IND. CONTRACTOR / CARETAKER|09292020|27|C00649061|SA11AI_310755484|1482832||EARMARKED FOR COMMITTEE TO ELECT TEDRA COBB (C00649061)|4012120212130550457>>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning."

  V10 V15
1 TX   25
2 MO  100
3 FL    5
4 FL    5
5 FL   50
6 CA  100

In [4]:
# Sum donations by state (10th field is state, 15th field is donation amount)
donation_by_state <- tapply(election_data$V15, election_data$V10, sum)

# Sort and get the top 10 states with the largest donation sums
head(sort(donation_by_state, decreasing = TRUE), 10)

        CA         NY         VA         DC         TX         FL         IL
2803518256 2521628477 1122819081 1060820708 1005943807  913762179  610913249
        MA         NV         WA
 521866708  384867853  384169499

Markdown notes and sentences and analysis written here.

## Question 5

In [5]:
# Read the first 10 rows from the IMDb dataset
imdb_data <- fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv", nrows = 10)

# View the 'genres' column
imdb_data$genres

 [1] "Documentary,Short"        "Animation,Short"
 [3] "Animation,Comedy,Romance" "Animation,Short"
 [5] "Comedy,Short"             "Short"
 [7] "Short,Sport"              "Documentary,Short"
 [9] "Romance"                  "Documentary,Short"

In [6]:
# Split genres and count the occurrences
genre_counts <- table(unlist(strsplit(imdb_data$genres, ',')))

# Display the genre counts
genre_counts

  Animation      Comedy Documentary     Romance       Short       Sport
          3           2           3           2           8           1

In [3]:
# Read the entire 'genres' column from the datasety
library(data.table)
imdb_genres <- fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv", select = "genres")

# Split and count the occurrences of each genre
full_genre_counts <- table(unlist(strsplit(imdb_genres$genres, ',')))

# Display the genre counts
full_genre_counts

Warning message in fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv", :
"Found and resolved improper quoting out-of-sample. First healed line 242860: <<tt0253684	tvEpisode	"Rome br<c3><bb>le" (Portrait de Shirley Clarke)	"Rome br<c3><bb>le" (Portrait de Shirley Clarke)	0	1970		54	Documentary>>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning."

     Action       Adult   Adventure   Animation   Biography      Comedy
     462531      353525      425130      556566      119759     2181847
      Crime Documentary       Drama      Family     Fantasy   Film-Noir
     459412     1062294     3151064      824607      234269         873
  Game-Show     History      Horror       Music     Musical     Mystery
     424919      165528      202434      418888       92140      225390
       News  Reality-TV     Romance      Sci-Fi       Short       Sport
    1051399      624854     1045327      117541     1191319      271872
  Talk-Show    Thriller         War     Western
    1372500      184618       38662       30931

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.