# Project 4 -- [Drew] [Caldwell]

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [2]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/death_records/DeathRecords.csv")

In [7]:
avg_age_by_sex <- tapply(myDF$Age, myDF$Sex, mean, na.rm = TRUE)

In [8]:
print(avg_age_by_sex)

       F        M
76.67668 70.22786

Markdown notes and sentences and analysis written here.

## Question 2

In [9]:
library(data.table)
transactions <- fread("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")

In [10]:
total_spent_by_product <- transactions[, .(Total_Spend = sum(SPEND, na.rm = TRUE)), by = PRODUCT_NUM]

In [11]:
top_products <- total_spent_by_product[order(-Total_Spend)][1:10]

print(top_products)

    PRODUCT_NUM Total_Spend
          <int>       <num>
 1:        8511   131399.78
 2:     1367192   111433.78
 3:       85311   102928.59
 4:       74424    75787.49
 5:      766108    66085.00
 6:       85201    65605.34
 7:     4889358    63823.61
 8:     1344763    58170.84
 9:        8523    53845.65
10:       89415    50032.42

Markdown notes and sentences and analysis written here.

## Question 3

In [1]:
library(data.table)
beer_reviews <- fread("/anvil/projects/tdm/data/beer/reviews_sample.csv")

In [2]:
mean_scores_by_date <- beer_reviews[, .(Mean_Score = mean(score, na.rm = TRUE)), by = date]
perfect_score_dates <- mean_scores_by_date[Mean_Score == 5]

In [3]:
top_3_perfect_dates <- head(perfect_score_dates[order(date)], 3)
print(top_3_perfect_dates)

         date Mean_Score
       <IDat>      <num>
1: 2001-04-26          5
2: 2001-06-18          5
3: 2002-01-26          5

Markdown notes and sentences and analysis written here.

## Question 4

In [5]:
library(data.table)
election_data <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", sep = "|", quote = "")

In [15]:
# Inspect column names and values
head(election_data)

  V1        V2 V3  V4 V5          V6  V7 V8                V9      V10 ... V13
1 C00078279 A  M11 P  80031492155 22Y NA MCKENNON, K R     MIDLAND MI  ... NA
2 C00078279 A  M11    79031415137 15  NA OREFFICE, P       MIDLAND MI  ... NA
3 C00078279 A  M11    79031415137 15  NA DOWNEY, J         MIDLAND MI  ... NA
4 C00078279 A  M11    79031415137 15  NA BLAIR, E          MIDLAND MI  ... NA
5 C00078287 A  Q1     79031231889 15  NA BLANCHARD, JOHN A CHICAGO IL  ... NA
6 C00078287 A  Q1     79031231889 15  NA CRAMER, JOHN H    CHICAGO IL  ... NA
  V14      V15  V16 V17 V18 V19 V20
1 10031979  400     NA  NA  NA  CONTRIBUTION REF TO INDIVIDUAL
2 10261979 1500     NA  NA  NA
3 10261979  300     NA  NA  NA
4 10261979 1000     NA  NA  NA
5  3201979  200     NA  NA  NA
6  2281979  200     NA  NA  NA
  V21                 City_State
1 3062020110011466469 MIDLAND, MI
2 3061920110000382948 MIDLAND, MI
3 3061920110000382949 MIDLAND, MI
4 3061920110000382950 MIDLAND, MI
5 3061920110000383914 CHICAGO, IL
6 3061920110000383915 CHICAGO, IL

In [20]:
election_data[, City_State := paste(V9, V10, sep = ", ")]
total_donations_by_city_state <- election_data[, .(Total_Donations = sum(V15, na.rm = TRUE)), by = City_State]
top_20_city_state <- total_donations_by_city_state[order(-Total_Donations)][1:20]

In [21]:
print(top_20_city_state)

           City_State Total_Donations
               <char>           <int>
 1:                ,         17299729
 2:      NEW YORK, NY        11345027
 3:       HOUSTON, TX         7606806
 4:        DALLAS, TX         4748262
 5:   LOS ANGELES, CA         4569952
 6:    WASHINGTON, DC         4273606
 7:       CHICAGO, IL         3179470
 8: SAN FRANCISCO, CA         2061441
 9: BEVERLY HILLS, CA         2053148
10:       ATLANTA, GA         1892356
11: OKLAHOMA CITY, OK         1751431
12:      ST LOUIS, MO         1639570
13:   SAN ANTONIO, TX         1583292
14:         MIAMI, FL         1541867
15:         TULSA, OK         1341956
16:     GREENWICH, CT         1340112
17:    WASHINGTOM, DC         1300341
18:       MIDLAND, TX         1210584
19:        DENVER, CO         1183471
20:    CINCINNATI, OH         1096983
           City_State Total_Donations

Markdown notes and sentences and analysis written here.

## Question 5

In [1]:
library(data.table)
flight_data <- fread("/anvil/projects/tdm/data/flights/subset/1990.csv")

In [2]:
head(flight_data)
print(names(flight_data))

  Year Month DayofMonth DayOfWeek DepTime CRSDepTime ArrTime CRSArrTime
1 1990 1     3          3         1707    1630       1755    1723
2 1990 1     4          4         1706    1630       1807    1723
3 1990 1     5          5         1629    1630       1715    1723
4 1990 1     6          6         1633    1630       1718    1723
5 1990 1     8          1         1630    1630       1726    1723
6 1990 1     9          2         1734    1630       1818    1723
  UniqueCarrier FlightNum ... TaxiIn TaxiOut Cancelled CancellationCode
1 US            29        ... NA     NA      0         NA
2 US            29        ... NA     NA      0         NA
3 US            29        ... NA     NA      0         NA
4 US            29        ... NA     NA      0         NA
5 US            29        ... NA     NA      0         NA
6 US            29        ... NA     NA      0         NA
  Diverted CarrierDelay WeatherDelay NASDelay SecurityDelay LateAircraftDelay
1 0        NA           NA           NA       NA            NA
2 0        NA           NA           NA       NA            NA
3 0        NA           NA           NA       NA            NA
4 0        NA           NA           NA       NA            NA
5 0        NA           NA           NA       NA            NA
6 0        NA           NA           NA       NA            NA

 [1] "Year"              "Month"             "DayofMonth"
 [4] "DayOfWeek"         "DepTime"           "CRSDepTime"
 [7] "ArrTime"           "CRSArrTime"        "UniqueCarrier"
[10] "FlightNum"         "TailNum"           "ActualElapsedTime"
[13] "CRSElapsedTime"    "AirTime"           "ArrDelay"
[16] "DepDelay"          "Origin"            "Dest"
[19] "Distance"          "TaxiIn"            "TaxiOut"
[22] "Cancelled"         "CancellationCode"  "Diverted"
[25] "CarrierDelay"      "WeatherDelay"      "NASDelay"
[28] "SecurityDelay"     "LateAircraftDelay"

In [3]:
flight_data[, Date := paste(Month, DayofMonth, Year, sep = "/")]

mean_delays_by_date <- flight_data[, .(Mean_DepDelay = mean(DepDelay, na.rm = TRUE)), by = Date]

worst_6_dates <- mean_delays_by_date[order(-Mean_DepDelay)][1:6]

In [4]:

print(worst_6_dates)

         Date Mean_DepDelay
       <char>         <num>
1: 12/21/1990      45.66178
2: 12/22/1990      45.22225
3: 12/28/1990      43.91443
4:  2/16/1990      36.19422
5:  2/15/1990      28.12302
6: 12/20/1990      27.34540

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.